**- Use seattle-weather data and answer below questions**

- Use mask operation to display the data of 2013, 2014, and 2015 respectively
- Calculate number of days without rain in 2013, and 2014?
- Calculate number of days with rain in 2014, and 2015?
- How many rainy days were there with more than 5mm of rain in 2013, and 2015?
- How many rainy days were there with less than 15mm of rain in 2013, 2014, and 2015 respectively?

In [1]:
import numpy as np
import pandas as pd

In [3]:
# Read the data file using pandas.read_csv
# Store the dataframe in a object
df=pd.read_csv(r"seattle-weather.csv", encoding='utf8', engine='python')

In [4]:
# Display the data
df

            date  precipitation  temp_max  temp_min  wind  weather
0       2012/1/1            0.0      12.8       5.0   4.7  drizzle
1       2012/1/2           10.9      10.6       2.8   4.5     rain
2       2012/1/3            0.8      11.7       7.2   2.3     rain
3       2012/1/4           20.3      12.2       5.6   4.7     rain
4       2012/1/5            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015/12/27            8.6       4.4       1.7   2.9      fog
1457  2015/12/28            1.5       5.0       1.7   1.3      fog
1458  2015/12/29            0.0       7.2       0.6   2.6      fog
1459  2015/12/30            0.0       5.6      -1.0   3.4      sun
1460  2015/12/31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [6]:
# Extracting the year from date column using pandas function DatetimeIndex
df['year']=pd.DatetimeIndex(df['date']).year

            date  precipitation  temp_max  temp_min  wind  weather  year
0       2012/1/1            0.0      12.8       5.0   4.7  drizzle  2012
1       2012/1/2           10.9      10.6       2.8   4.5     rain  2012
2       2012/1/3            0.8      11.7       7.2   2.3     rain  2012
3       2012/1/4           20.3      12.2       5.6   4.7     rain  2012
4       2012/1/5            1.3       8.9       2.8   6.1     rain  2012
...          ...            ...       ...       ...   ...      ...   ...
1456  2015/12/27            8.6       4.4       1.7   2.9      fog  2015
1457  2015/12/28            1.5       5.0       1.7   1.3      fog  2015
1458  2015/12/29            0.0       7.2       0.6   2.6      fog  2015
1459  2015/12/30            0.0       5.6      -1.0   3.4      sun  2015
1460  2015/12/31            0.0       5.6      -2.1   3.5      sun  2015

[1461 rows x 7 columns]

In [13]:
# Displaying the value count from year column to confirm the values make sense
df['year'].value_counts() #value_counts(): https://stackoverflow.com/questions/22391433/count-the-frequency-that-a-value-occurs-in-a-dataframe-column

2012    366
2013    365
2014    365
2015    365
Name: year, dtype: int64

- Use mask operation to display the data of 2013, 2014, and 2015 respectively

In [35]:
# Accessing 2013 year dataframe by using comparison operator of equal to
# Putting the condition data in df dataframe using index
# Above two steps are called masking

In [14]:
df2013=df[df['year']==2013]
df2013

           date  precipitation  temp_max  temp_min  wind weather  year
366    2013/1/1            0.0       5.0      -2.8   2.7     sun  2013
367    2013/1/2            0.0       6.1      -1.1   3.2     sun  2013
368    2013/1/3            4.1       6.7      -1.7   3.0    rain  2013
369    2013/1/4            2.5      10.0       2.2   2.8    rain  2013
370    2013/1/5            3.0       6.7       4.4   3.1    rain  2013
..          ...            ...       ...       ...   ...     ...   ...
726  2013/12/27            0.3       8.9       0.0   2.1     fog  2013
727  2013/12/28            0.0       9.4       3.3   1.3     sun  2013
728  2013/12/29            0.0       7.2       1.7   1.1     sun  2013
729  2013/12/30            0.3       8.9       4.4   2.6     sun  2013
730  2013/12/31            0.5       8.3       5.0   1.7     sun  2013

[365 rows x 7 columns]

In [15]:
df2014=df[df['year']==2014]
df2014

            date  precipitation  temp_max  temp_min  wind weather  year
731     2014/1/1            0.0       7.2       3.3   1.2     sun  2014
732     2014/1/2            4.1      10.6       6.1   3.2     sun  2014
733     2014/1/3            1.5       8.9       2.8   2.6     fog  2014
734     2014/1/4            0.0       7.8       0.6   2.7     fog  2014
735     2014/1/5            0.0       8.3      -0.5   3.7     sun  2014
...          ...            ...       ...       ...   ...     ...   ...
1091  2014/12/27            3.3       9.4       4.4   4.9     fog  2014
1092  2014/12/28            4.1       6.7       2.8   1.8     fog  2014
1093  2014/12/29            0.0       6.1       0.6   4.3     fog  2014
1094  2014/12/30            0.0       3.3      -2.1   3.6     sun  2014
1095  2014/12/31            0.0       3.3      -2.7   3.0     sun  2014

[365 rows x 7 columns]

In [16]:
df2015=df[df['year']==2015]
df2015

            date  precipitation  temp_max  temp_min  wind weather  year
1096    2015/1/1            0.0       5.6      -3.2   1.2     sun  2015
1097    2015/1/2            1.5       5.6       0.0   2.3     fog  2015
1098    2015/1/3            0.0       5.0       1.7   1.7     fog  2015
1099    2015/1/4           10.2      10.6       3.3   4.5     fog  2015
1100    2015/1/5            8.1      12.2       9.4   6.4     fog  2015
...          ...            ...       ...       ...   ...     ...   ...
1456  2015/12/27            8.6       4.4       1.7   2.9     fog  2015
1457  2015/12/28            1.5       5.0       1.7   1.3     fog  2015
1458  2015/12/29            0.0       7.2       0.6   2.6     fog  2015
1459  2015/12/30            0.0       5.6      -1.0   3.4     sun  2015
1460  2015/12/31            0.0       5.6      -2.1   3.5     sun  2015

[365 rows x 7 columns]

In [17]:
condition_data=df[(df['year']>=2013) & (df['year']<=2015)]
condition_data

            date  precipitation  temp_max  temp_min  wind weather  year
366     2013/1/1            0.0       5.0      -2.8   2.7     sun  2013
367     2013/1/2            0.0       6.1      -1.1   3.2     sun  2013
368     2013/1/3            4.1       6.7      -1.7   3.0    rain  2013
369     2013/1/4            2.5      10.0       2.2   2.8    rain  2013
370     2013/1/5            3.0       6.7       4.4   3.1    rain  2013
...          ...            ...       ...       ...   ...     ...   ...
1456  2015/12/27            8.6       4.4       1.7   2.9     fog  2015
1457  2015/12/28            1.5       5.0       1.7   1.3     fog  2015
1458  2015/12/29            0.0       7.2       0.6   2.6     fog  2015
1459  2015/12/30            0.0       5.6      -1.0   3.4     sun  2015
1460  2015/12/31            0.0       5.6      -2.1   3.5     sun  2015

[1095 rows x 7 columns]

- How many number of days without rain in 2013, and 2014?

In [20]:
print("No rainy days in 2013: ", np.sum((df['year']==2013) & (df['precipitation']==0)))
print("No rainy days in 2014: ", np.sum((df['year']==2014) & (df['precipitation']==0)))

No rainy days in 2013:  213
No rainy days in 2014:  215

- The other way to calculate no rainy days in 2013 and 2014

In [22]:
print("NO rainy days in 2013: ", np.sum(df[df['year']==2013]['precipitation']==0))
print("NO rainy days in 2014: ", np.sum(df[df['year']==2014]['precipitation']==0))

NO rainy days in 2013:  213
NO rainy days in 2014:  215

In [34]:
print("No rainy days in 2013 and 2014: ", np.sum(df[df['year']==2013]['precipitation']==0)+np.sum(df[df['year']==2014]['precipitation']==0))

No rainy days in 2013 and 2014:  428

- Calculate number of days with rain in 2014, and 2015?

In [36]:
print("Number of rainy days in 2014: ", np.sum(df[df['year']==2014]['precipitation']!=0))
print("Number of rainy days in 2015: ", np.sum(df[df['year']==2015]['precipitation']!=0))

Number of rainy days in 2014:  150
Number of rainy days in 2015:  144

- The other way to calculate number of rainy days in 2014 and 2015

In [38]:
print("Number of rainy days in 2014 and 2015:", np.sum(df[df['year']==2014]['precipitation']!=0)+np.sum(df[df['year']==2015]['precipitation']!=0))

Number of rainy days in 2014 and 2015: 294

- How many rainy days were there with more than 5mm of rain in 2013, and 2015?

In [39]:
print("Number of rainy days with more than 5mm of rain in 2013: ", np.sum(df[df['year']==2013]['precipitation']>5))
print("Number of rainy days with more than 5mm of rain in 2015: ", np.sum(df[df['year']==2015]['precipitation']>5))

Number of rainy days with more than 5mm of rain in 2013:  49
Number of rainy days with more than 5mm of rain in 2015:  61

- The other way to calculate rainy days with more than 5mm of rain in 2013, and 2015?

In [45]:
print("Number of rainy days with more than 5mm of rain in 2013 and 2015:", np.sum(df[df['year']==2013]['precipitation']>5)+np.sum(df[df['year']==2015]['precipitation']>5))

Number of rainy days with more than 5mm of rain in 2013 and 2015: 110

- How many rainy days were there with less than 15mm of rain in 2013, 2014, and 2015 respectively?

In [47]:
print("Number of rainy days with less than 15mm of rain in 2013: ", np.sum((df[df['year']==2013]['precipitation']<15) & (df[df['year']==2013]['precipitation']!=0)))
print("Number of rainy days with less than 15mm of rain in 2014: ", np.sum((df[df['year']==2014]['precipitation']<15) & (df[df['year']==2014]['precipitation']!=0)))
print("Number of rainy days with less than 15mm of rain in 2015: ", np.sum((df[df['year']==2015]['precipitation']<15) & (df[df['year']==2015]['precipitation']!=0)))

Number of rainy days with less than 15mm of rain in 2013:  139
Number of rainy days with less than 15mm of rain in 2014:  121
Number of rainy days with less than 15mm of rain in 2015:  119